@charset "utf-8";
@import "_mixin", "_var";

body, h1, h2, h3, h4, h5, h6, p, ul{margin: 0;padding: 0;}
h1, h2, h3, h4, h5, h6{font-size: 100%;}
ul{list-style: none;}
a:link, a:visited, a:hover, a:active{text-decoration: none;color: inherit;}
button{border: none;background: none;cursor: pointer;font-family: inherit;font-size: inherit;color: inherit;}
img{vertical-align: top;}
header, nav, aside, section{display: block;}

body{font-family: "noto sans kr";color: #fff;}

// common class
.clearfix::after{content: "";display: block;clear: both;}

// #wrap
#wrap{overflow: hidden;}
// #header
#header{
    @include flex;
    @include justify-content(space-between);
    @include align-items;
    position: absolute;left: 0;top: 0;width: 100%;height: 100px;padding: 0 70px;box-sizing: border-box;z-index: 100;
    h1{font-size: 30px;}
    #gnb ul{
        @include flex;
        li{margin-right: 84px;font-size: 20px;font-weight: 700;}
    }
}
// intro
#intro{
    background-image: url("../images/1_rainbow.png") , linear-gradient($pink,$wPurple);background-repeat: no-repeat;background-position: 100% 0;
    .intro{
        position: relative;padding-top: 200px;
        .balloon{position: absolute;}
    }
    .intro_top{
        position: relative;
        .hello_move{
            .hello{
                @include transform(translateZ(-500px));
                position: absolute;left: 35%;top: 35%;font-size: 150px;
            }
            .cloud{@include transform(translateZ(500px));}
        }
        .balloon{
            &:nth-of-type(1){left: 58%;top: 0%;}
            &:nth-of-type(2){left: 78%;top: 15%;}
        }
    }
    .intro_btm{
        text-align: right;height: 500px;
        .balloon{
            &:nth-of-type(1){left: 0%;top: -6%;}
            &:nth-of-type(2){left: 40%;top: 0%;}
        }
    }
}
// intro 효과
#intro{
    .intro h2, .intro .balloon{@include transition(all 2s cubic-bezier(0, 0.71, 0.12, 1));opacity: 0;}
    .intro h2{@include transform(translate(-10.416vw, 0));transition-delay: 0.9s;}
    .intro .balloon{@include transform(translate(0, 10.416vw));}
    .intro_top .balloon:first-child{transition-delay: 0.3s;}
    .intro_top .balloon:last-child{transition-delay: 0.6s;}
    .intro_btm .balloon:first-child{transition-delay: 0.3s;}
    .intro_btm .balloon:last-child{transition-delay: 0.6s;}

    .intro.fade h2, .intro.fade .cloud, .intro.fade .balloon{@include transform(translate(0, 0));opacity: 1;}
}
// about
#about{
    position: relative;height: 200vh;background: linear-gradient($wPurple, #AB9CDE);
    .window, .txt{
        @include transition(all 1s);
        position: absolute;left: 0;top: 0; 
    }
    .window{
        @include flex;
        @include flex-direction;
        @include align-items;
        @include translateX-50;
        width: 700px;left: 50%;z-index: 50;padding: 50px 0;margin: 0 auto;
        .birds, .angel, .cloud, .open{position: absolute;}
        .birds{left: 50%;top: 20%;}
        .cloud{left: -20%;top: 30%;}
        .angel{left: 35%;top: 50%;}
    }
    .txt{
        color: #707070;box-sizing: border-box;background: rgba(255,255,255,.75);display: none;
        h2{font-size: 50px;font-weight: 700;margin-bottom: 85px;}
        p{margin-bottom: 55px;}
        .go_back{position: absolute;right: 50px;bottom: 50px;width: 175px;height: 175px;z-index: 5;}
    }
}
#about.on{
    .window{
        @include transform(translateX(0));
        left: 0;background: linear-gradient($wPurple, #AB9CDE);
        .open{display: none;}
    }
    .txt{width: 100%;height: 100%;padding: 100px 100px 100px 50%;display: block;}
}
// work
#work{
    background: url("../images/3_clouds.png"), linear-gradient(#AB9CDE, #6D5BAB);background-repeat: no-repeat;background-position: 0 100%;padding-top: 300px;box-sizing: border-box;
    .front_back{
        position: relative;margin: 0 auto;width: 1220px;height: 800px;
        .card{
            @include transition(all 1s);
            position: absolute;left: 0;top: 0;width: 100%;height: 50%;backface-visibility: hidden;
            @include flex;
            @include flex-direction;
            @include align-items;
            margin-bottom: -350px;position: relative;z-index: 50;
            h3{font-size: 60px;}
            .open{border: 2px solid #fff;border-radius: 15px;padding: 5px 10px;margin-top: 20px;}
        }
        .controller{
            position: relative;width: 100%;height: 120px;
            .prev_next{
                button{position: absolute;top: 0;}
                .prev{left: 20%;}
                .next{right: 20%;}
            }
        }
        .front{@include transform(rotateY(0deg));}
        .back{@include transform(rotateY(-180deg));}
        &:hover .front, &.flip .front{@include transform(rotateY(180deg));}
        &:hover .back, &.flip .back{@include transform(rotateY(0deg));}
    }
}
// work 모달 창
#modalWork{
    position: fixed;top: 0;left: 0;width: 100%;background: rgba(255, 255, 255,.7);z-index: 70;display: none;
    .modal_wrap{
        margin: 70px 70px;background: #F6CD85;
        // tablist 와 tab
        > ul{
            @include flex;
            width: 600px;margin: 0 auto;padding: 35px 0;
            li{width: 50%;height: 60px;line-height: 54px;border: 3px solid #fff;box-sizing: border-box;text-align: center;font-size: 20px;font-weight: 600;}
            li:first-child{border-radius: 20px 0 0 20px;}
            li:last-child{border-radius: 0 20px 20px 0;}
        }
    }
    // tabpanel 공통
    .tabpanel{
        .md_tit{
            position: relative;font-size: 150px;letter-spacing: 5px;line-height: 200px;box-sizing: border-box;
            img{position: absolute;}
        }
        ul li{
                .b{display: inline-block;font-size: 4.17vw;font-weight: 700;vertical-align: top;}
                p{display: inline-block;padding: 45px 0 95px;font-size: 18px;line-height: 2;width: 31.25vw;}
                .bb{color: #707070;font-size: 18px;font-weight: 600;}
            }
    }
    //설화수
    #tabpanel1{
        display: none;
            > * {float: left;width: 50%;}
            .md_tit{
                padding: 50px 185px;text-shadow: 40px 3px 6px rgba(0, 0, 0, 0.16);
                //img{@include transition(all 1s);}
                img:nth-of-type(1){@include transform(rotate(-18deg));left: 55%;top: 10%;}
                img:nth-of-type(2){@include transform(rotate(16deg));left: 10%;top: 53%;}
                img:nth-of-type(3){@include transform(rotate(13deg));left: 55%;top: 60%;}
            }
            ul li{
                &:nth-child(even) .b{color: #707070;}
            }
    }
    // 코닥
    #tabpanel2{
            > * {float: right;width: 50%;}
            .md_tit{
                padding: 180px 0;text-align: center;
                img:nth-of-type(1){@include transform(rotate(-18deg));left: 45%;top: 5%;}
                img:nth-of-type(2){@include transform(rotate(16deg));left: 0;top: 60%;}
                img:nth-of-type(3){@include transform(rotate(-29deg));left: 55%;top: 81%;}
            }
            .responsive{
                padding: 0 50px;box-sizing: border-box;
                > ul{
                    @include flex;
                    margin-bottom: 70px;
                    li{width: calc(100% / 3);text-align: center;font-size: 35px;font-weight: 600;height: 80px;vertical-align: bottom;opacity: 0.7;}
                    li.on{opacity: 1;}
                    span{display: block;}
                }
                .move_up{
                    .tabpanelR{
                        > p{width: 450px;padding: 65px 0;text-align: left;font-size: 25px;}
                        ul li{
                            a{
                                display: block;
                                img{width: 33.854vw;}
                            }
                            &:nth-child(even) .b{color: #FFB301;}
                            .b_y{color: #FFB301;font-weight: 600;}
                        }  
                    }
                    #tabpanelM{
                        li{
                            @include flex;
                            @include align-items(flex-end);
                            margin-bottom: 200px;
                            a{
                                display: inline-block;
                                img{width: 250px;}
                            }
                            .m_txt{
                                strong{margin-top: -30px;}
                                p{width: 80%;padding: 0;}
                            }
                        }
                    }
                                           
                 }  
            }
    }
    .close_btn{position: absolute;right: 30px;top: 30px;width: 31px;height: 31px;}
}
// tab이 .active를 가지는 경우
#modalWork{
    .modal_wrap.active{
        background: #222;   
        > ul {
            li:first-child.on{background: #fff;color: #707070;}
            li:last-child.on{background: #fff;color: #222;}
        }
    
    }
}

// contact
// aside#banner > nav#snb
#banner{
    display: none;
    position: fixed;right: 3%;top: 10%;background: url("../images/sub_nav.png") no-repeat center;width: 235px;height: 667px;
    #snb{
        position: absolute;right: 10%;top: 47%;
        li{margin-bottom: 50px;color: /* #816e5a */#fff;}
    }
}