body, h1, h2, h3, h4, h5, h6, p, ul {
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }

ul {
  list-style: none; }

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  color: inherit; }

button {
  border: none;
  background: none;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  color: inherit; }

img {
  vertical-align: top; }

header, nav, aside, section {
  display: block; }

body {
  font-family: "noto sans kr";
  color: #fff; }

.clearfix::after {
  content: "";
  display: block;
  clear: both; }

#wrap {
  overflow: hidden; }

#header {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100px;
  padding: 0 70px;
  box-sizing: border-box;
  z-index: 100; }
  #header h1 {
    font-size: 30px; }
  #header #gnb ul {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex; }
    #header #gnb ul li {
      margin-right: 84px;
      font-size: 20px;
      font-weight: 700; }

#intro {
  background-image: url("../images/1_rainbow.png"), linear-gradient(#F8BC9D, #E2C1CD);
  background-repeat: no-repeat;
  background-position: 100% 0; }
  #intro .intro {
    position: relative;
    padding-top: 200px; }
    #intro .intro .balloon {
      position: absolute; }
  #intro .intro_top {
    position: relative; }
    #intro .intro_top .hello_move .hello {
      -webkit-transform: translateZ(-500px);
      -moz-transform: translateZ(-500px);
      -ms-transform: translateZ(-500px);
      -o-transform: translateZ(-500px);
      transform: translateZ(-500px);
      position: absolute;
      left: 35%;
      top: 35%;
      font-size: 150px; }
    #intro .intro_top .hello_move .cloud {
      -webkit-transform: translateZ(500px);
      -moz-transform: translateZ(500px);
      -ms-transform: translateZ(500px);
      -o-transform: translateZ(500px);
      transform: translateZ(500px); }
    #intro .intro_top .balloon:nth-of-type(1) {
      left: 58%;
      top: 0%; }
    #intro .intro_top .balloon:nth-of-type(2) {
      left: 78%;
      top: 15%; }
  #intro .intro_btm {
    text-align: right;
    height: 500px; }
    #intro .intro_btm .balloon:nth-of-type(1) {
      left: 0%;
      top: -6%; }
    #intro .intro_btm .balloon:nth-of-type(2) {
      left: 40%;
      top: 0%; }

#intro .intro h2, #intro .intro .balloon {
  -webkit-transition: all 2s cubic-bezier(0, 0.71, 0.12, 1);
  transition: all 2s cubic-bezier(0, 0.71, 0.12, 1);
  opacity: 0; }
#intro .intro h2 {
  -webkit-transform: translate(-10.416vw, 0);
  -moz-transform: translate(-10.416vw, 0);
  -ms-transform: translate(-10.416vw, 0);
  -o-transform: translate(-10.416vw, 0);
  transform: translate(-10.416vw, 0);
  transition-delay: 0.9s; }
#intro .intro .balloon {
  -webkit-transform: translate(0, 10.416vw);
  -moz-transform: translate(0, 10.416vw);
  -ms-transform: translate(0, 10.416vw);
  -o-transform: translate(0, 10.416vw);
  transform: translate(0, 10.416vw); }
#intro .intro_top .balloon:first-child {
  transition-delay: 0.3s; }
#intro .intro_top .balloon:last-child {
  transition-delay: 0.6s; }
#intro .intro_btm .balloon:first-child {
  transition-delay: 0.3s; }
#intro .intro_btm .balloon:last-child {
  transition-delay: 0.6s; }
#intro .intro.fade h2, #intro .intro.fade .cloud, #intro .intro.fade .balloon {
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
  opacity: 1; }

#about {
  position: relative;
  height: 200vh;
  background: linear-gradient(#E2C1CD, #AB9CDE); }
  #about .window, #about .txt {
    -webkit-transition: all 1s;
    transition: all 1s;
    position: absolute;
    left: 0;
    top: 0; }
  #about .window {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    align-items: center;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 700px;
    left: 50%;
    z-index: 50;
    padding: 50px 0;
    margin: 0 auto;
    position: sticky;
    height: 100vh; }
    #about .window .birds, #about .window .angel, #about .window .cloud, #about .window .open {
      position: absolute; }
    #about .window .birds {
      left: 50%;
      top: 20%; }
    #about .window .cloud {
      left: -20%;
      top: 20%; }
    #about .window .angel {
      left: 35%;
      top: 38%; }
  #about .txt {
    color: #707070;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.75);
    display: none; }
    #about .txt h2 {
      font-size: 50px;
      font-weight: 700;
      margin-bottom: 85px; }
    #about .txt p {
      margin-bottom: 55px; }
    #about .txt .go_back {
      position: absolute;
      right: 50px;
      bottom: 50px;
      width: 175px;
      height: 175px;
      z-index: 5; }

#about.on .window {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
  left: 0;
  background: linear-gradient(#E2C1CD, #AB9CDE); }
  #about.on .window .open {
    display: none; }
#about.on .txt {
  width: 100%;
  height: 100%;
  padding: 100px 100px 100px 50%;
  display: block; }

#work {
  background: url("../images/3_clouds.png"), linear-gradient(#AB9CDE, #6D5BAB);
  background-repeat: no-repeat;
  background-position: 0 100%;
  padding-top: 300px;
  box-sizing: border-box; }
  #work .front_back {
    position: relative;
    margin: 0 auto;
    width: 1220px;
    height: 800px; }
    #work .front_back .card {
      -webkit-transition: all 1s;
      transition: all 1s;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 50%;
      backface-visibility: hidden;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: column;
      -moz-flex-direction: column;
      flex-direction: column;
      -webkit-align-items: center;
      align-items: center;
      margin-bottom: -350px;
      position: relative;
      z-index: 50; }
      #work .front_back .card h3 {
        font-size: 60px; }
      #work .front_back .card .open {
        border: 2px solid #fff;
        border-radius: 15px;
        padding: 5px 10px;
        margin-top: 20px; }
    #work .front_back .controller {
      position: relative;
      width: 100%;
      height: 120px; }
      #work .front_back .controller .prev_next button {
        position: absolute;
        top: 0; }
      #work .front_back .controller .prev_next .prev {
        left: 20%; }
      #work .front_back .controller .prev_next .next {
        right: 20%; }
    #work .front_back .front {
      -webkit-transform: rotateY(0deg);
      -moz-transform: rotateY(0deg);
      -ms-transform: rotateY(0deg);
      -o-transform: rotateY(0deg);
      transform: rotateY(0deg); }
    #work .front_back .back {
      -webkit-transform: rotateY(-180deg);
      -moz-transform: rotateY(-180deg);
      -ms-transform: rotateY(-180deg);
      -o-transform: rotateY(-180deg);
      transform: rotateY(-180deg); }
    #work .front_back:hover .front, #work .front_back.flip .front {
      -webkit-transform: rotateY(180deg);
      -moz-transform: rotateY(180deg);
      -ms-transform: rotateY(180deg);
      -o-transform: rotateY(180deg);
      transform: rotateY(180deg); }
    #work .front_back:hover .back, #work .front_back.flip .back {
      -webkit-transform: rotateY(0deg);
      -moz-transform: rotateY(0deg);
      -ms-transform: rotateY(0deg);
      -o-transform: rotateY(0deg);
      transform: rotateY(0deg); }

#modalWork {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.7);
  z-index: 70;
  display: none; }
  #modalWork .modal_wrap {
    margin: 70px 70px;
    background: #F6CD85; }
    #modalWork .modal_wrap > ul {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      width: 600px;
      margin: 0 auto;
      padding: 35px 0; }
      #modalWork .modal_wrap > ul li {
        width: 50%;
        height: 60px;
        line-height: 54px;
        border: 3px solid #fff;
        box-sizing: border-box;
        text-align: center;
        font-size: 20px;
        font-weight: 600; }
      #modalWork .modal_wrap > ul li:first-child {
        border-radius: 20px 0 0 20px; }
      #modalWork .modal_wrap > ul li:last-child {
        border-radius: 0 20px 20px 0; }
  #modalWork .tabpanel .md_tit {
    position: relative;
    font-size: 150px;
    letter-spacing: 5px;
    line-height: 200px;
    box-sizing: border-box; }
    #modalWork .tabpanel .md_tit img {
      position: absolute; }
  #modalWork .tabpanel ul li .b {
    display: inline-block;
    font-size: 4.17vw;
    font-weight: 700;
    vertical-align: top; }
  #modalWork .tabpanel ul li p {
    display: inline-block;
    padding: 45px 0 95px;
    font-size: 18px;
    line-height: 2;
    width: 31.25vw; }
  #modalWork .tabpanel ul li .bb {
    color: #707070;
    font-size: 18px;
    font-weight: 600; }
  #modalWork #tabpanel1 {
    display: none; }
    #modalWork #tabpanel1 > * {
      float: left;
      width: 50%; }
    #modalWork #tabpanel1 .md_tit {
      padding: 50px 185px;
      text-shadow: 40px 3px 6px rgba(0, 0, 0, 0.16); }
      #modalWork #tabpanel1 .md_tit img:nth-of-type(1) {
        -webkit-transform: rotate(-18deg);
        -moz-transform: rotate(-18deg);
        -ms-transform: rotate(-18deg);
        -o-transform: rotate(-18deg);
        transform: rotate(-18deg);
        left: 55%;
        top: 10%; }
      #modalWork #tabpanel1 .md_tit img:nth-of-type(2) {
        -webkit-transform: rotate(16deg);
        -moz-transform: rotate(16deg);
        -ms-transform: rotate(16deg);
        -o-transform: rotate(16deg);
        transform: rotate(16deg);
        left: 10%;
        top: 53%; }
      #modalWork #tabpanel1 .md_tit img:nth-of-type(3) {
        -webkit-transform: rotate(13deg);
        -moz-transform: rotate(13deg);
        -ms-transform: rotate(13deg);
        -o-transform: rotate(13deg);
        transform: rotate(13deg);
        left: 55%;
        top: 60%; }
    #modalWork #tabpanel1 ul li:nth-child(even) .b {
      color: #707070; }
  #modalWork #tabpanel2 > * {
    float: right;
    width: 50%; }
  #modalWork #tabpanel2 .md_tit {
    padding: 180px 0;
    text-align: center; }
    #modalWork #tabpanel2 .md_tit img:nth-of-type(1) {
      -webkit-transform: rotate(-18deg);
      -moz-transform: rotate(-18deg);
      -ms-transform: rotate(-18deg);
      -o-transform: rotate(-18deg);
      transform: rotate(-18deg);
      left: 45%;
      top: 5%; }
    #modalWork #tabpanel2 .md_tit img:nth-of-type(2) {
      -webkit-transform: rotate(16deg);
      -moz-transform: rotate(16deg);
      -ms-transform: rotate(16deg);
      -o-transform: rotate(16deg);
      transform: rotate(16deg);
      left: 0;
      top: 60%; }
    #modalWork #tabpanel2 .md_tit img:nth-of-type(3) {
      -webkit-transform: rotate(-29deg);
      -moz-transform: rotate(-29deg);
      -ms-transform: rotate(-29deg);
      -o-transform: rotate(-29deg);
      transform: rotate(-29deg);
      left: 55%;
      top: 81%; }
  #modalWork #tabpanel2 .responsive {
    padding: 0 50px;
    box-sizing: border-box; }
    #modalWork #tabpanel2 .responsive > ul {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      margin-bottom: 70px; }
      #modalWork #tabpanel2 .responsive > ul li {
        width: calc(100% / 3);
        text-align: center;
        font-size: 35px;
        font-weight: 600;
        height: 80px;
        vertical-align: bottom;
        opacity: 0.7; }
      #modalWork #tabpanel2 .responsive > ul li.on {
        opacity: 1; }
      #modalWork #tabpanel2 .responsive > ul span {
        display: block; }
    #modalWork #tabpanel2 .responsive .move_up .tabpanelR > p {
      width: 450px;
      padding: 65px 0;
      text-align: left;
      font-size: 25px; }
    #modalWork #tabpanel2 .responsive .move_up .tabpanelR ul li a {
      display: block; }
      #modalWork #tabpanel2 .responsive .move_up .tabpanelR ul li a img {
        width: 33.854vw; }
    #modalWork #tabpanel2 .responsive .move_up .tabpanelR ul li:nth-child(even) .b {
      color: #FFB301; }
    #modalWork #tabpanel2 .responsive .move_up .tabpanelR ul li .b_y {
      color: #FFB301;
      font-weight: 600; }
    #modalWork #tabpanel2 .responsive .move_up #tabpanelM li {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-align-items: flex-end;
      align-items: flex-end;
      margin-bottom: 200px; }
      #modalWork #tabpanel2 .responsive .move_up #tabpanelM li a {
        display: inline-block; }
        #modalWork #tabpanel2 .responsive .move_up #tabpanelM li a img {
          width: 250px; }
      #modalWork #tabpanel2 .responsive .move_up #tabpanelM li .m_txt strong {
        margin-top: -30px; }
      #modalWork #tabpanel2 .responsive .move_up #tabpanelM li .m_txt p {
        width: 80%;
        padding: 0; }
  #modalWork .close_btn {
    position: absolute;
    right: 30px;
    top: 30px;
    width: 31px;
    height: 31px; }

#modalWork .modal_wrap.active {
  background: #222; }
  #modalWork .modal_wrap.active > ul li:first-child.on {
    background: #fff;
    color: #707070; }
  #modalWork .modal_wrap.active > ul li:last-child.on {
    background: #fff;
    color: #222; }

#banner {
  display: none;
  position: fixed;
  right: 3%;
  top: 10%;
  background: url("../images/sub_nav.png") no-repeat center;
  width: 235px;
  height: 667px; }
  #banner #snb {
    position: absolute;
    right: 10%;
    top: 47%; }
    #banner #snb li {
      margin-bottom: 50px;
      color: #fff; }

/*# sourceMappingURL=portfolio.css.map */
